@font-face {
    font-family: MuseoSansCyrl;
    src: url(../fonts/MuseoSansCyrl_100.otf);
}

.nametitle{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

main,div{
    display: block;
}

*{
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-family: MuseoSansCyrl;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 14px;
}

.logotitle{
    cursor:pointer;
    display:block;
    width:96px;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.buttonexit{
    align-items:center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content: center;
    min-width: 128px;
    padding: 8px 16px;
    text-decoration: none;
    transition: all .2s;
    background: #fff;
    border:  1px solid #7953c3;
    width: 173px;
    height: 36px;
    color:#7953c3;
    font-size: 14px;
    font-weight: 400;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button{
    align-items: center;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    writing-mode: horizontal-tb;
    padding-block: 1px;
    padding-inline: 6px;
}


.buttonmain{
    width: 108px;
    height: 36px;
    background: #fff;
    border: 1px solid #7953c3;
    color:#7953c3;
    min-width: 111px;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: all .2s;
    margin-bottom: -32px;
}

.header{
    box-shadow: 0 1.1335145235px 4.293615818px 0 rgba(133,94,152,.03), 
     0 2.8667433262px 10.8588762283px 0 rgba(133,94,152,.04),
     0 5.847887516px 22.1510887146px 0 rgba(133,94,152,.05), 
     0 5.847887516px 22.1510887146px 0 rgba(133,94,152,.05);
    display: flex;
    flex-direction: column;
    height: 88px;
    justify-content: center;
}

.buttonmain:hover,.buttonexit:hover{
    background-color: #6b39cb;
    color:#fff;
}

.headertext{
    grid-gap: 16px;
    display: grid;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.h3{
    color: #040013;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.headertext2{
    align-items: flex-end;
    color: #ccc;
    display: flex;
    gap: 16px;
}

.registrationpage{
    margin: 0 auto;
    max-width: 1040px;
    position: relative;
    width: 100%;
}

.titlesection{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 160px;
    padding-top: 64px;
}

.aboutu{
    display: flex;
    flex-direction: row;
    gap: 16px;
    color:#ccc;
    margin-bottom: 16px;
}

.class2{
    color:#ccc;
    transform: translateY(-3px);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.progressbar{
    margin-top: -30px;
    background-color: #f4f4f6;
    height: 2px;
}

.progressline{
    width: 10%;
    background-color: #d9d1e0;
    height: 2px;
    transition: all .2s;
}

.userinformation{
    margin-top: -140px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 100%;
}

.img{
    align-items: center;
    border:  1px dashed #cdbddb;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 200px;
    padding: 14px 29px;
    position: relative;
    width: 366px;
    margin-bottom: 10px;
}

.input_img{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.text_img{
    color: #040013;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.avatar_input_img{
    background-color: #7953c3;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 40px;
    width: 144px;
}

.text_avatar_placeholder{
    color: #aaa;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.input_name{
    margin-top: 40px;
    position: relative;
}

.first_last_name{
    left: 0px;
    top: -18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(93,91,102);
    position:absolute;
    transition: all .2s ease-in-out;
    user-select: none;
}

.aboutuser{
    display:inline-flex;
    flex-direction: column;
    gap: 24px;
}

.input_first_name,.input_number{
    background-color: #f4f4f6;
    border-radius: 8px;
    color:#040013;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    min-height: 56px;
    outline: none;
    overflow-wrap: normal;
    padding: 16px 12px;
    width: 366px;
}


.input_sex{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sex{
    margin-top: 8px;
    display: flex;
    gap: 16px;
    position: relative;
    margin-left: 5px;
}

.input_sex1{
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.input_sex1+label{
    align-items: center;
    display: inline-flex;
    user-select: none;
}


.input_sex1:checked+label::before{
    background-image: url(../img/radio_active.svg);
}

.input_sex1+label::before{
    background-image: url(../img/radio_default.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    width: 16px;
    transition: all .2s ease-in-out;
}

.radio_input_button{
    display: flex;
    gap: 8px;
}

.birthdate{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.birthdatetext{
    color: rgb(93,91,102);
    font-size: 14px;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field, input[type="date"]:in-range::-webkit-datetime-edit-month-field, input[type="date"]:in-range::-webkit-datetime-edit-day-field, input[type="date"]:in-range::-webkit-datetime-edit-text { 	color: transparent; }
input[type="date"] {
    position: relative;
}

.datepicker-wrapper{
    border: 0;
    display: inline-block;
    padding: 0;
    position: relative;
    width: 100%;
}

label:hover{
    cursor: pointer;
}

.input_date{
    background-color: #f4f4f6;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 56px;
    line-height: 24px;
    outline: none;
    padding: 12px 8px 12px 12px;
    width: 200px;
}

.number{
    width: 366px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
}

.first_last_name{
    left: 12px;
    top: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(161,166,177);
    position: absolute;
    transition: all .2s ease-in-out;
    user-select: none;
}

.date{
    left: 12px;
    top: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(161,166,177);
    position: absolute;
    transition: all .2s ease-in-out;
    user-select: none;
}

.number_, .telegram,.aboutme{
    left: 12px;
    top: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(161,166,177);
    position: absolute;
    transition: all .2s ease-in-out;
    user-select: none;
}

.input_number,.input_telegram, .input_about_me{
    background-color: #f4f4f6;
    border-radius: 8px;
    color: #040013;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    min-height: 56px;
    outline: none;
    overflow-wrap: normal;
    padding: 16px 12px;
    width: 366px;
}

input:focus+label{
    top:-15px;
    font-size: 14px;
    color:#040013;
}

.avatar_input_img:hover{
    background-color: #fff;
    color:#6b39cb;
    border: 1px solid #6b39cb;
}

.telegramform{
    margin-top: 15px;
    position: relative;
}

textarea:focus+label{
    top:-10px;
    font-size: 14px;
    color:#040013;
}

.about_user{
    position: relative;
    margin-top: 15px;
}

.example{
    margin-top: -11px;
}

.example_text{
    font-size: 13px;
    color: #9e9e9e;
    font-weight: 400;
    width: 366px;
    line-height: 14px;
    letter-spacing: -.12px;
}

.title_profile_card{
    margin-bottom: 16px;
    padding-left: 16px;
    color: #5d5b66;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: -1px;
}

.profile_card_information{
    border-radius: 32px;
    box-shadow: 0 5.84789px 22.1511px rgba(133,94,152,.05),
     0 5.84789px 22.1511px rgba(133,94,152,.05), 
     0 2.86674px 10.8589px rgba(133,94,152,.04), 
     0 1.13351px 4.29362px rgba(133,94,152,.028);
    display: flex;
    gap: 28px;
    margin-bottom: 24px;
    padding: 15px 30px;
}

.profile_card_left{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: -10px;
    margin-top: 5px;
}

.profile_card_photo{
    border: 1px dashed #cdbddb;
    border-radius: 16px;
    height: 140px;
    opacity: 0.5;
}

.profile_card_button{
    opacity: 0.2;
    background-color: #7953c3;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 9px;
    font-weight: 400;
    height: 22px;
    line-height: 10px;
    padding: 6px 12px;
    transition: all .2s;
    width: 140px;
}

.first_last_name_1{
    margin-top: 3px;
    margin-bottom: -10px;
    color: #040013;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.profile_info_row{
    align-items: center;
    column-gap: 4px;
    display: flex;
    justify-content: start;
    margin-top: 7px;
}

.profile_row, .profile_card_age{
    background-color: #f4f4f6;
    border-radius: 3px;
    height: 11px;
    width: 32px;
}

.profile_divider{
    background: #7953c3;
    border-radius: 100px;
    height: 3px;
    opacity: .3;
    width: 4px
}

.profile_card_row{
    background-color: #f4f4f6;
    border-radius: 3px;
    height: 11px;
    width: 120px;
}

.plate{
    height: 17px;
    margin-top: -2px;
    max-width: 400px;
    min-width: 125px;
    padding: 3px 6px;
    background-color: #f4f4f6;
    border-radius: 3px;
    display: inline-block;
}

.profile_card_age, .plate_text{
    color: #040013;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
}

.profile_card_aboutuser{
    background-color: #f4f4f6;
    border-radius: 6px;
    height: 11px;
    margin-top: 5px;
    width: 332px;
}

.profile_card_preference{
    border-radius: 8px;
    background-color: #f4f4f6;
    gap: 8px;
    margin-top: 10px;
    padding: 15px 20px;
    width: 406px;
}

.profile_preference_price{
    background-color: #eaeaead4;
    border-radius: 4px;
    margin-top: 10px;
    min-height: 20px;
    width: 198px;
    margin-left: -10px;
}

.profile{
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    margin-top: 4px;
}

.profile_preference_underground{
    background-color: #eaeaead4;
    border-radius: 4px;
    margin-top: 2px;
    min-height: 14px;
    width: 308px;
    margin-left: -10px;
}

.profile_preference_devider{
    background-color: #ccc;
    height: 1px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: -10px;
}

.laststr{
    align-items: center;
    column-gap: 4px;
    display: flex;
    justify-content: start;
    margin-top: 7px;
}

.laststr1{
    background-color: #eaeaead4;
    border-radius: 4px;
    margin-top: 7px;
    min-height: 16px;
    width: 150px;
    margin-left: -10px;
}

.laststr2{
    background-color: #eaeaead4;
    border-radius: 4px;
    margin-top: 7px;
    min-height: 16px;
    width: 210px;
    margin-left: 2px;
}

.stepbars{
    order-radius: 16px;
    box-shadow: 0 1.1335145235px 4.293615818px 0 rgba(133,94,152,.03),
     0 2.8667433262px 10.8588762283px 0 rgba(133,94,152,.04), 
     0 5.847887516px 22.1510887146px 0 rgba(133,94,152,.05),
     0 5.847887516px 22.1510887146px 0 rgba(133,94,152,.05);
    margin-bottom: 24px;
    padding: 5px 16px;
    position: relative;
    border-radius: 16px;
}

.stepbars_container{
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: -5px;
}

.stepbars_plate{
    margin-top: -7px;
}

.text_paragraph{
    font-weight: 600;
    color: #040013;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.text_paragraph_first{
    color: #5d5b66;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: -10px;
}

.registrationform_button{
    background-color: #7953c3;
    border-radius: 8px;
    padding: 15px 65px;
    transition: all .2s;
    width: 226px;
    margin-top: 380px;
    margin-left: 385px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.3;
}

button:hover{
    cursor: pointer;
    color:#7953c3;
    background-color: #fff;
    border: 1px solid #7953c3;
}

.footer{
    padding: 80px 0 0;
    border-top: 1px solid #ebebeb;
    margin-top: 160px;
}

.container{
    max-width: 90%;
    position: relative;
    width: 100%;
}

.footer_content{
    display: flex;
    row-gap: 80px;
    flex-direction: column;
}

.email{
    display: block;
    color: #7953c3;
    text-decoration: none;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

.link{
    margin-left: 25%;
}

.tecnical_support{
    cursor: pointer;
    margin-top: 8px;
    text-decoration: none;
    font-weight: 400;
    color: #9e9e9e;
    font-size: 16px;
    line-height: 24px;
}

.footer_row{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
}

.footer_links{
    align-items: center;
    column-gap: 32px;
    display: flex;
    margin-top: 25px;
}

.about_service{
    color: #040013;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.line{
    border: 1px solid #7953c3;
    width: 61%;
    opacity: 0.2;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 25%;
}

.footer_text{
    align-items: end;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
}

.footer_text_1{
    max-width: 655px;
    color: #aaa;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.ftext1{
    color: #aaa;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: 50px;
    margin-right: -169px;
}

.ftext2{
    color: #5d5b66;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-right: 60px;
}

.end_color_line{
    background: #7953c3;
    height: 12px;
    margin-top: 64px;
    width: 100%;
}

.icons{
    align-items: center;
    column-gap: 8px;
    display: flex;
    margin-right: 60px;
}

.telegram_{
    cursor: pointer;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    height: 32px;
    transform: scale(.75);
    background-color: #eae8e8;
    padding: 10px 5px;
    border-radius: 12px;
}

.vk_{
    cursor: pointer;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    height: 32px;
    transform: scale(.75);
    background-color: #eae8e8;
    padding: 10px 5px;
    border-radius: 12px;
    margin-right: 180px;
}

.icon-telegram,.icon-vk{
    width: 24px;
    line-height: 24px;
}
